*{
    margin: 0;
    padding: 0;
    border:none;
    overflow:hidden;
}
a{
    text-decoration: none;
    color: white;
}
#back{
 position: fixed;
 top: 10px;
 left:10px;
 transition: width 1s;
 height: 50px;
 width: 50px;
 border-radius: 50%;
 background-color:white;
 border: 3px solid black;
}

.card-sorter{
    display:flex;
    flex-direction: row;
    justify-content: right;
}
.card{
    height: 100vh;
    width:70px;
    cursor: pointer;
}
.card:target{
    width:85vw;
    transition: width 2s;
    cursor:default;
}
#card-1{
    background-color: rgb(78, 76, 76); 
}
.card .content-container{
    display:none;
}
.card:target > .content-container{
    display:block;
}

#card-2{
    background-color: orangered;
}
#card-3{
    background-color: yellow;
}
#card-4{
    background-color: green;
}
