body {
    margin: 0;
  }
  
  main {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 100vh;
  }
  
  .card-sorter {
    display: flex;
    flex-direction:row;
    width: 152rem;
  }
 
  .card {
    width: 70px;
    height: 100vh;
    transition: width 0.5s;
  }
  
  #card-1 {
    background-color: gray;
    position:absolute;
    right: 210px;
  }
  
  #card-2 {
    background-color: red;
    position:absolute;
    right: 140px;
  }
  
  #card-3 {
    background-color: yellow;
    position:absolute;
    right: 70px;
  }
  
  #card-4 {
    background-color: green;
    position:absolute;
    right: 0px;
  }
  .content-container {
    display: none;
  }
  
  h1 {
    margin: 0;
    color: white;
    font-size: 24px;
  }
  .selected{
   width: 1px
  }